<html>
  <body>
    <p>Hello @Model.Name,</p>
    <p>Please click below to reset your password.</p>
    <p>
      <a href='@Model.Url'>Click here to reset</a>
    </p>
    <br/>
    <br/>
    <b>Re-Store</b>
  </body>
</html>