.filtersButton {
  display: none !important;
}

@media (max-width: 899px) {
  .filtersContainer {
    display: flex;
    justify-content: space-between;
  }

  .filtersButton {
    display: block !important;
  }

  .desktopFilters {
    display: none;
  }

  .mobileFilters {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
  }
}
